<div th:fragment="vehicleList" th:switch="${vehicles}" class="container">
	<h2 th:case="null">No vehicles yet!</h2>
	<div th:case="*" class="table-responsive">
		<h2>Vehicles</h2>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Make</th>
					<th>Model</th>
					<th>Number plate</th>
					<th>Year of manufacture</th>
					<th>Mileage at last service</th>
					<th>Last service date</th>
					<th>Last service station</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="vehicle : ${vehicles}">
					<td th:text="${vehicle.id}"></td>
					<td th:text="${vehicle.make}"></td>
					<td th:text="${vehicle.model}"></td>
					<td th:text="${vehicle.registrationNumber}"></td>
					<td th:text="${vehicle.yearOfManufacture}"></td>
					<td th:text="${vehicle.mileageLastService}"></td>
					<td th:text="${vehicle.lastServiceDate}"></td>
					<td th:text="${vehicle.lastServiceStation}"></td>
					<td><a th:href="@{/vehicles/edit/{id}(id=${vehicle.id})}" class="btn btn-primary"><i class="fas fa-edit"></i>&nbsp;Edit</a></td>
					<td><a th:href="@{/vehicles/delete/{id}(id=${vehicle.id})}" class="btn btn-danger"><i class="fas fa-trash-alt"></i>&nbsp;Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p><a class="btn btn-success" href="/vehicles/edit">Add a new vehicle</a></p>
</div>