<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!--/*/ <th:block th:include="home/layout.html :: headerfiles">
        </th:block> /*/-->
	<title>ChangSoft FleetMan</title>
</head>

<body>

	<div th:replace="home/layout.html :: header">
	</div>
	<div class="container">
		<h3>Update Product</h3>
		<form action="#" th:action="@{/products/edit}" th:object="${product}" method="post" class="form">
			<div class="form-group">
				<label class="form-label" for="id">ID</label>
				<input class="form-control" type="text" th:field="*{id}" id="id" placeholder="0" readonly>
				<span class="danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
			</div>
			<div class="form-group">
				<label class="form-label" for="productCode">Product Code</label>
				<input class="form-control" type="text" th:field="*{productCode}" id="productCode" placeholder="productCode">
				<span class="danger" th:if="${#fields.hasErrors('productCode')}" th:errors="*{productCode}"></span>
			</div>
			<div class="form-group">
				<label class="form-label" for="productName">Product Name</label>
				<input class="form-control" type="text" th:field="*{productName}" id="productName" placeholder="productName">
				<span class="danger" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></span>
			</div>
			<div class="form-group">
				<label class="form-label" for="unitOfMeasurement">Measurement Unit</label>
				<input class="form-control" type="text" th:field="*{unitOfMeasurement}" id="unitOfMeasurement"
					placeholder="unitOfMeasurement">
				<span class="danger" th:if="${#fields.hasErrors('unitOfMeasurement')}" th:errors="*{unitOfMeasurement}"></span>
			</div>
			<div class="form-group">
				<label class="form-label" for="unitPrice">Price per unit</label>
				<input class="form-control" type="number" th:field="*{unitPrice}" id="unitPrice"
					placeholder="unitPrice">
				<span class="danger" th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}"></span>
			</div>
			<!--<div class="form-group">
				<label class="form-label" for="parent">Parent Product</label>
				<select class="form-control" th:field="*{parent}" id="">
					<option value="0" selected>None</option>
					<option th:each="product : ${products}" th:value=" ${product.id}"
						th:text="${product.paramName}">
					</option>
				</select>
				<span class="danger" th:if="${#fields.hasErrors('parent')}" th:errors="*{parent}"></span>
			</div>-->
			<br />
			<input class="btn btn-primary" type="submit" value="Add Product">
			<a class="btn btn-danger" th:href="@{/products}">Back</a>
		</form>
	</div>

	<div th:replace="home/layout.html :: footer"></div>
	<div th:replace="home/layout.html :: scriptsfiles"></div>

</body>

</html>