<div th:fragment="tripList" th:switch="${trips}" class="container">
	<h2 th:case="null">No trips yet!</h2>
	<div th:case="*" class="table-responsive">
		<h2>Trips</h2>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Delivery number</th>
					<th>Trip date</th>
					<th>Quantity</th>
					<th>Unit price</th>
					<th>Origin</th>
					<th>dDestination</th>
					<th>Distance</th>
					<th>Estimated fuel consumption</th>
					<th>Actual fuel consumption</th>
					<th>Breakages</th>
					<th>Shortages</th>
					<th>Fuel Type</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="trip : ${trips}">
					<td th:text="${trip.id}"></td>
					<td th:text="${trip.deliveryNumber}"></td>
					<td th:text="${trip.tripDate}"></td>
					<td th:text="${trip.quantity}"></td>
					<td th:text="${trip.unitPrice}"></td>
					<td th:text="${trip.origin}"></td>
					<td th:text="${trip.destination}"></td>
					<td th:text="${trip.actualFuelConsumption}"></td>
					<td th:text="${trip.breakages}"></td>
					<td th:text="${trip.shortages}"></td>
					<td th:text="${trip.fuelType}"></td>
					<td th:text="${trip.parent}"></td>
					<td><a th:href="@{/trips/edit/{id}(id=${trip.id})}" class="btn btn-primary"><i class="fas fa-edit"></i>&nbsp;Edit</a></td>
					<td><a th:href="@{/trips/delete/{id}(id=${trip.id})}" class="btn btn-danger"><i class="fas fa-trash-alt"></i>&nbsp;Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p><a class="btn btn-success" href="/trips/edit">Add a new trip</a></p>
</div>